  <div class="masthead">
    <div class="content">
      <div class="row">
        <div class="col-md-6">
          <h2>Welcome</h2>
          <p>This is a layout test application</p>
        </div>
        <div class="col-md-6">
          <p>Join up!</p>
          <%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-success" %>
          <p>or</p>
          <p><%= link_to "Log in", new_user_session_path, class: "btn btn-default" %></p>
          
        </div>

      </div>
      
    </div>
  </div>
